* {
    margin: 0;
    padding: 0;
    }
body {
    background-image: url(img/paper.png);
}
#banner{
    width: 100%;
    padding: 0 0;
    margin: 0 0;
}
#index {
    left: 10%;
    margin: 0 10px;
    width: 80%;
}
.texto {
    text-align: justify;
    font-size: 25px;
    color: #242526;
}
#aviso{
    color: red;
    font-weight:bold;
    text-align: center;
    font-size: 40px;
}
#sobrerpg1{
    display: flex;
}
#sobre1{
    margin: 10px 10px;
    width: 30%;
    height: auto;
}
#sobrerpg2{
    display: flex;
}
#sobre2{
    margin: 10px 10px;
    width: 30%;
    height: auto;
}