body {
    background: linear-gradient(rgba(255,0,0,.8), rgba(0,255,0,.8)),
}
#titulo{
    align-content: center;
    text-align: center;
    font-size: 40px;
    color: #FF0000;
    background-color: white;
}
.texto {
    align-content: center;
    text-align: center;
    width: 80%;
    font-size: 25px;
    color: #000000;
    background-color: white;
}

q {
    color: #FF0000;
}
em{
    color:blue;
}